<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Agendamento</title>
    <link rel="stylesheet" href="../style/styles.css">
</head>
<body>
    <header>
        <h1>Cadastro de Agendamento</h1>
    </header>

    <main>
        <div class="appointment-container">
            <h2>Agendar um Serviço</h2>
            <form id="cadastroAgendamento">
                <input type="text" placeholder="Nome do Cliente" id="nomeCliente" required>
                <input type="email" placeholder="E-mail do Cliente" id="emailCliente" required>
                <input type="email" placeholder="E-mail do Mecânico" id="emailMecanico" required>
                <select id="especialidade" required>
                    <option value="">Escolher Especialidade</option>
                    <option value="motor">Motor</option>
                    <option value="freios">Freios</option>
                    <option value="suspensao">Suspensão</option>
                    <option value="eletrica">Elétrica</option>
                </select>
                <input type="text" placeholder="Serviço Desejado" id="servico" required>
                <input type="date" id="data" required>
                <button type="submit">Agendar</button>
            </form>
        </div>
        <button onclick="history.back()" class="back-button">Voltar</button>
    </main>

    <footer>
        <p>&copy; 2024 Mecânicos Online. Todos os direitos reservados.</p>
    </footer>

    <script src="../scripts/scripts.js"></script>
</body>
</html>