<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Mecânicos Online</title>
    <link rel="stylesheet" href="../style/styles.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao MecânoHUB</h1>
        <nav>
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="buscamec.html">Buscar Mecânicos</a></li>
                <li><a href="buscameclocal.html">Buscar Mecânicos por Localização</a></li>
                <li><a href="perfilmec.html" id="profileLink">Perfil Mecanico</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h2>Encontre o Mecânico Certo para Você</h2>
            <p>Navegue pelo nosso site para encontrar mecânicos confiáveis perto de você!</p>
        </section>

        <section class="features">
            <div class="feature">
                <h3>Cadastro Fácil</h3>
                <p>Cadastre-se rapidamente e tenha acesso a uma rede de mecânicos especializados.</p>
            </div>
            <div class="feature">
                <h3>Busca por Localização</h3>
                <p>Encontre mecânicos próximos usando nosso sistema de busca por localização.</p>
            </div>
            <div class="feature">
                <h3>Filtros Personalizados</h3>
                <p>Utilize filtros para encontrar o mecânico com a especialidade que você precisa.</p>
            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 Mecânicos Online. Todos os direitos reservados.</p>
    </footer>

    <script src="../scripts/scripts.js"></script>
</body>
</html>
